p {
   color: blue;
   font-size: 5px;
}
.members{
    color: green;
    font-size: 20px;
    border: 15px solid pink;
}
h3{
    color: yellow;
    font-size: 52px;
}
#history{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;  /* Цвет текста поменян  на красный, по скольку селектор по айди имеет первостепеннее приоритет, и потому цвет был изменен на красный, а не синий*/ 
    font-size: 50px;  /*По аналогии с измением цвета, размер текста был увеличен с 5px до 50px*/
}     /*Если подытожить, то самый высокий приоритет имеет айди, далее класс, а самый низкий - тег*/
